<div class="new-file-dialog overlay fix l0 t0 r0 b0" data-type="overlay">
        <div class="dialog prompt p0 ofh" data-type="dialog">
            <h2 class="title m0 mb-m p-m bold fs-m bgg-dark grey">Create new file</h2>
            <div class="content p-m">
                <div class="row">
                    <p class="input">
                        <input type="text"
                               class="new-file-dialog-file-name w100 p-m"
                               name="fileName"
                               placeholder="Enter file name here" />
                    </p>
                    <div class="select-box button">
                        <i class="fa fa-angle-down select-box-icon"></i>
                        <select data-type="fileType" name="fileType" class="new-file-dialog-file-type">
                            <!-- List of file types -->
                        </select>
                    </div>
                </div>
                <div class="info mb-xl p-s">
                    This file name is not available.
                </div>
                <div class="buttons tar">
                    <div role="button" class="button iact oval-s p-m dib" data-type="cancelButton">
                        Cancel
                    </div>
                    <div role="button" class="button iact oval-s p-m dib" data-type="okButton">
                        Create
                    </div>
                </div>
            </div>
        </div>
    </div>