<div class="project pointer ofh m-m" data-project-id="{id}" data-type="project">
    <div class="info">
        <div class="name">{name}</div>
    </div>
    <div class="button-bar">
        <a class="button dib p-m oval-s iact"
           data-type="deleteButton"
           data-project-id="{id}"
           data-project-name="{name}"
           title="Delete project">
            <span class="fa fa-trash fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="openFolderButton"
           data-project-id="{id}"
           data-project-name="{name}"
           title="Open project folder">
            <span class="fa fa-folder fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="buildDesktopButton"
           data-project-id="{id}"
           data-project-name="{name}"
           title="Build for desktop">
            <span class="fa fa-desktop fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="buildButton"
           data-project-id="{id}"
           data-project-name="{name}"
           title="Build for browser">
            <span class="fa fa-wrench fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="runButton"
           data-action="run"
           data-project-id="{id}"
           data-project-name="{name}"
           title="Build &amp; run">
            <span class="fa fa-play-circle fa-lg"></span>
        </a>
    </div>
</div>