<div class="overlay fix l0 t0 r0 b0" data-type="overlay">
    <div class="dialog prompt p0 ofh" data-type="dialog">
        <h2 class="title m0 mb-m p-m bold fs-m bgg-dark grey">{title}</h2>
        <div class="content p-m">
            <p class="message">{message}</p>
            <p class="input mv-xl">
                <input type="text"
                       class="w100 p-m"
                       name="value"
                       value="{defaultValue}"
                       placeholder="{placeholder}" />
            </p>
            <div class="buttons tar">
                <div role="button" class="button iact oval-s p-m dib" data-type="cancelButton">
                    {cancelText}
                </div>
                <div role="button" class="button iact oval-s p-m dib" data-type="okButton">
                    {okText}
                </div>
            </div>
        </div>
    </div>
</div>